/* Make the invisible visible */

* {
  border: thin red solid;
  max-width: 960px
}
body{ width:940px;
	margin-left: auto;
margin-right: auto;
margin-top: 1%;
margin-bottom: 1%;
}

.title{
	height:200px;
	background-color: lightGRAY;

}
